/.idea
*.class
src/.project
build/classes/main/java/ar/edu/utn/frba/ia/ag/ejemplos/monedas/ejemploMonedas.class
*.class
src/.classpath
build/classes/main/java/ar/edu/utn/frba/ia/ag/AlgoritmoGenetico.class
build/classes/main/java/ar/edu/utn/frba/ia/ag/cruzamiento/BinomialMascaraDoble.class
build/classes/main/java/ar/edu/utn/frba/ia/ag/cruzamiento/CruzamientoBinomialMascaraComplemento.class
build/classes/main/java/ar/edu/utn/frba/ia/ag/cruzamiento/CruzamientoBinomialMascaraDoble.class
build/classes/main/java/ar/edu/utn/frba/ia/ag/cruzamiento/MultiPunto.class
build/classes/main/java/ar/edu/utn/frba/ia/ag/cruzamiento/Simple.class
build/classes/main/java/ar/edu/utn/frba/ia/ag/cruzamiento/SimplePuntoFijo.class
build/classes/main/java/ar/edu/utn/frba/ia/ag/ejemplos/maximo/MaximoLocal.class
build/classes/main/java/ar/edu/utn/frba/ia/ag/ejemplos/maximo2d/Combinaciones.class
build/classes/main/java/ar/edu/utn/frba/ia/ag/ejemplos/maximo2d/MaximoLocal2d.class
build/classes/main/java/ar/edu/utn/frba/ia/ag/ejemplos/maximo2d/Optimizacion.class
build/classes/main/java/ar/edu/utn/frba/ia/ag/ejemplos/maximo2d/VariasCorridas.class
build/classes/main/java/ar/edu/utn/frba/ia/ag/ejemplos/maximo2d/XY.class
build/classes/main/java/ar/edu/utn/frba/ia/ag/ejemplos/monedas/ejemploMonedas.class
build/classes/main/java/ar/edu/utn/frba/ia/ag/ejemplos/monedas/EjemploMonedas.class
build/classes/main/java/ar/edu/utn/frba/ia/ag/ejemplos/optimizacion/Optimizacion.class
build/classes/main/java/ar/edu/utn/frba/ia/ag/ejemplos/optimizacion/VariasCorridas.class
build/classes/main/java/ar/edu/utn/frba/ia/ag/Individuo.class
build/classes/main/java/ar/edu/utn/frba/ia/ag/paro/CantidadDeVueltas.class
build/classes/main/java/ar/edu/utn/frba/ia/ag/seleccion/MetodoDeSeleccion.class
build/classes/main/java/ar/edu/utn/frba/ia/ag/UTgeNesUtils.class
build/classes/test/java/ar/edu/utn/frba/ia/ag/CruzamientoTest.class
build/classes/test/java/ar/edu/utn/frba/ia/ag/SeleccionTest$1.class
build/classes/test/java/ar/edu/utn/frba/ia/ag/SeleccionTest.class
build/classes/test/java/ar/edu/utn/frba/ia/ag/testEjemplo/IndividuoDePrueba.class
build/classes/test/java/ar/edu/utn/frba/ia/ag/testEjemplo/Test.class
